main {
  min-height: 90vh;
}

/* Hero Slider Component - Start */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Hero Slider Component - End */

/* Profile Screen - Start */
.jumbotron-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
/* Profile Screen - End */
